<%= render 'info', user: current_user %>
<%= link_to edit_user_path(current_user.id),class: "btn btn-outline-secondary btn-block" do %>
 <i class="fas fa-user-cog"></i>
<% end %>

<%= render 'books/new', book: @book %>


<h1>Users</h1>
<th>image</th>
<th>name</th>
<% @users.each do |user| %>
    <%= image_tag user.get_profile_image(100,100) %>
    <%= user.name %>
    <%= link_to "show", user_path(user.id) %>
<% end %>
