<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', user: @user %>
      <div class="row">
        <% if @user == current_user %>
          <%= link_to edit_user_path(current_user.id),class: "btn btn-outline-secondary btn-block" do %>
             <i class="fas fa-user-cog"></i>
          <% end %>
        <% else %>
         <%= link_to user_path(current_user.id),class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
         <% end %>
        <% end %>
      </div>
      <%= render 'books/new', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan= "3"></th>
          </tr>
        </thead>
        <% @books.each do |book| %>
        <tbody>
          <tr>
            <td><%= image_tag @user.get_profile_image(80,80) %></td>
            <td><%= link_to book.title,book_path(book.id) %></td>
            <td><%= book.body %></td>
          </tr>
        </tbody>
         <% end %>
      </table>
      
    </div>
  </div>
</div>      
      
      
      
      
